{{#unless entries}}
  <div class="columns p-5">
    <div class="column">
      <h4 class="title is-4 has-text-centered">{{lang.entry.noEntry}}</h4>
    </div>
  </div>
{{/unless}}

{{#each entries}}
  <div class="box">
    {{#unless ../term}}  
      <a href="/term/{{title}}" class="title mb-4 is-block">
        {{title}}
      </a>
    {{/unless}}
    <div class="content">
      {{body}}
    </div>
    <div class="bottom is-flex is-justify-content-flex-end">
      <a href="/user/{{user.username}}">
        {{user.username}}
      </a>
    </div>
  </div>
{{/each}}