{{#if error}}  
  <article class="message is-danger">
    <div class="message-body">
      {{lang.auth.wrong}}
    </div>
  </article>
{{/if}}
<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <h1 class="title">
      {{lang.auth.login}}
    </h1>
    <form action="/login" method="post">
      <div class="field">
        <label class="label">{{lang.auth.username}}</label>
        <div class="control">
          <input class="input" type="text" name="username">
        </div>
      </div>
      <div class="field">
        <label class="label">{{lang.auth.password}}</label>
        <div class="control">
          <input class="input" type="password" name="password">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <input type="submit" value="{{lang.auth.login}}" class="button is-primary">
        </div>
      </div>
    </form>
  </div>
</div>